body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Arial';
}

ul {
    float: right;
    margin-right: 15px;
    font-size: 13px;
    color: #464646;
    display: flex;
    align-items: center;
}

li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.dots {
    margin-left: 6px;
}

#dot {
    height: 15px;
    width: 15px;
}

#foto {
    margin-left: 6px;
    height: 32px;
    width: 32px;
    object-fit:cover;
    border-radius:50%;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
.main__google {
    display: flex;
    align-self: center;
    margin-bottom: 30px;
}
.main__input {
    display: flex;
    align-self: center;
    width: 65%;
    display: flex;
    margin-bottom: 30px;
}
.main__input--enter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #E7E4E4;
    border-radius: 100px;
    height: 45px;
}

.logo_lupa {
    margin: 20px;
    width: 20px;
    height: 20px;
}

.logo_micro {
    margin: 20px;
    width: 15px;
    height: 20px;
}
input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    display: flex;
    justify-content: center;
}

.main__buttons {
    display: flex;
    justify-content: center;
    font-weight: lighter;
}

.main__buttons--space {
    display: flex;
    justify-content: center;
}

.main__buttons--space button {
    font-size: 15px;
}

button {
    background-color: #F1EFEF;
    border: none;
    margin: 10px 10px 10px 10px;
    padding: 10px 12px 8px 10px;
    text-align: center;
    color: #787878;
    font-size: 15px;
}

.main__offer {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.main__offer a {
    text-decoration: none;
}
.country {
    position: absolute;
    left: 0;
    bottom: 46px;
    width: 100%;
    height: 46px;
    border-bottom: 1px solid #CFCFCF;;
    background-color: #E7E7E7;
    color: #8A8A8A;
}

.country p {
    margin-left: 40px;
    font-size: 15px
}

footer {
    display: flex;
    align-self: start;
    background-color: #E7E7E7;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 46px;
    color: #8A8A8A;
    font-size: 15px;
}

.left {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.right {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.right p {
    margin-left: 20px;
    margin-right: 20px
}

.left p {
    margin-left: 20px;
    margin-right: 20px
}